
.tweet-body {
    width: 100%;
    border-radius: 7px;
    background-color: #f8f9fa;
    margin-bottom: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
}
.tweet-date{
    font-size: 14px;
    align-self: flex-end;
    margin-right: 20px;
    margin-bottom: 10px;
}  
.tweet-title {
    margin: 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1c1c1c;
    word-break: keep-all;
    hyphens: auto;
    font-weight: 600;
}

.tweet-username {
    color: #1c1c1c;
    text-decoration: none;
}
.tweet-username:hover {
    text-decoration: none;
}
.delete-tweet-button {
    cursor: pointer;
    fill: #1c1c1c !important
}
.tweet-content {
    margin: 0px 20px 20px; 
    word-break: break-all;
    hyphens: auto;
    color: #1c1c1c;
}
.tweet-bottom {
    display: flex;
    justify-content: space-between;
    color: #1c1c1c;
}
.like-button, .unlike-button {
    fill: red !important;
    cursor: pointer;
}
.like-buttons {
    margin-left: 15px;
}
.like-counter {
    margin-left: 5px;
}

.comments-button {
    fill: #100a44 !important;
    margin-left: 15px;
    cursor: pointer;
}

.comments-counter{
    margin-left: 10px;
}

.reply-button {
    fill: #100a44 !important;
    margin-right: 10px;
    cursor: pointer;
}
