@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,400;0,500;0,600;1,500;1,600&display=swap');
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Prompt', sans-serif;
}
body {
    background-color: #1c1c1c !important;
}

.mycontainer {
    padding: 0px 40px;
    display: flex;
}


.tweet-profile-info {
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-miniature {
    border-radius: 8px;
    margin-right: 10px;
    cursor: pointer;
}

.filter-tweets {
    color: #1c1c1c !important;
    margin: 20px 0;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-tweets:focus, .filter-tweets:active {
    box-shadow: none !important
}
.filter-icon {
    fill: #1c1c1c !important
}
.like-button:hover {
    background-color: whitesmoke;
}
.log-input {
    margin: 10px;
}
.log-profile {
    font-size: 20px;
}
.modal-content {
    width: 100% !important;
    margin: 0 auto;
}
.modal-dialog {
    margin: 40vh auto !important;
}

.modalContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700 !important;
}

.modalContainer button {
    margin-top: 17px;
    background-color: #1c1c1c !important;
    color: white;
    border: none;
    padding: 5px 30px;
}

.modalContainer button:focus {
    box-shadow: none;
}
.homepage-content {
    margin-top: 20px;
    text-align: center;
}

.homepage-content h3 {
    margin-bottom: 20px;
}
@media only screen and (max-width:480px) {
    .max-chars {
        left: 0px;
        bottom: -60px !important;
    }
    
    .tweet-form textarea {
        padding-bottom: 50px;
    }
    
    .all-tweets-area {
        margin-top: 20px;
    }

}

@media only screen and (max-width:580px) {
    .modal-content{
        width: 70% !important;
    }
}